@model IEnumerable<Basic_level2_agan.Models.Blog>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Header</title>
</head>
<body>
    <div>
        <div class="row col-md-12">
            @Html.Partial("Header")
        </div>
        <div class="row col-md-12">
            <div class="container">

                <div class="col-md-2">
                    @Html.Partial("Menu");
                </div>

               
                <div class="row col-md-10" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <a>Search Blog</a>
                            </div>
                            
                             <div class="col-md-10">
                                @using (Html.BeginForm())
                                {
                                  <p>
                                    Title:@Html.TextBox("searchString")<br />
                                      <div style="margin-left20%;">

                                          <input type="submit" value="Search" style="color:green;" />
                                      </div>
                                      
                                   </p>

                                }
                             </div>   
                                 
                                    
                        </div>
                        
                        </div>
                        <div>
                            @Html.Partial("ListBlogs")
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>

        <div class="col-md-12">
            @Html.Partial("Footer")
        </div>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

    </div>

</body>
</html>



